<%= render 'inicio/header' %>
<!-- Inicia banner -->
<section class="blog">
  <div class="container">
    <div class="row">
		<div class="row">
      <div class="section-title st-center c2a">
        <h2><%= @loc %></h2>
      </div>
    </div>
      <div class="col-md-10"> 
        <!-- inicia respuesta -->
        <div class="blog-post">
          <h3><%= notice == "success" ? "Gracias por responder el cuestionario. En breve recibirás un correo electrónico de confirmación y pronto serás contactado por un entrevistador del proyecto." : "Comprendemos que, por motivos personales, no desee participar en nuestra encuesta. Gracias de todas maneras por su tiempo y atención." %></h3>

          <p><%= link_to destroy_user_session_path, method: "DELETE", class: "btn btn-main btn-lg" do %>
<i class="fa fa-arrow-circle-o-left"></i>Volver
<% end %></p>
        </div>
        <!-- Termina respuesta --> 
      </div>
    </div>
  </div>
</section>

<%= render 'inicio/footer' %>
